<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <table>
        <tr><td><button>Hem</button></td><td><button>Programguide</button></td><td><button>Schemalagda Program</button></td><td><button>Inspelade program</button></td><td><button>HBO</button></td><td><button>Inställningar</button><td>Klocka</td></tr>
    </table>
    <div>
        @RenderBody()
    </div>
</body>
</html>
