@model ProgramChannelVM

<div>

    <table cellspacing="0">
        <tr>
            <td>
                <div class="top" text-align="center" style="width: 70px">Kanal</div>
            </td>
        </tr>
    </table>

    @foreach (var item in Model.TvChannels)
    {
        <table cellspacing="0">
            <tr>
                <td>
                    <button class="button" padding="10px" style="width: 70px"><img src="@item.Icon" alt="submit" class="icon" value="">@*@item.DisplayName*@</button>
                </td>
            </tr>
        </table>
      
    }
</div>
