@model ProgramChannelVM

<div>

    <table>
        <tr>
            <td>
                <button class="button" style="width: 80px">Kanal</button>
            </td>
        </tr>
    </table>

    @foreach (var item in Model.TvChannels)
    {
        <table>
            <tr>
                <td>
                    <button class="button" style="width: 80px"><img src="@item.Icon" alt="submit" class="icon" value="">@*@item.DisplayName*@</button>
                </td>
            </tr>
        </table>
      
    }
</div>
