@model TvChannel[]

<div>
    @*@Component.InvokeAsync("Channel")*@
    @Html.Partial("ChannelVM")
    @*<div> @Html.Partial("_ChannelsPartial") </div>*@
    @*@Html.Partial("_ChannelsPartial")*@
    @*@Html.Partial("_ChannelsPartial.cshtml", new TvChannel[0])*@
</div>