@model TvChannel[]

<div>
    @foreach (var item in Model)
    {
        <button class="button" style="width: 100px"><img src="@item.Icon" alt="submit">@item.DisplayName</button>
        <br />
    }
</div>
